h2 {
    font-size: 2.8rem;
    line-height: 100%;
    margin-top: 2.5rem;
    color: var(--text-primary-clr);
    text-transform: capitalize;
}

.overlay-text {
    position: relative;
}

.overlay-text::before {
    content: attr(datatype);
    position: absolute;
    top: -70%;
    left: -55%;
    font-size: 6rem;
    color: var(--text-primary-clr);
    font-weight: bold;
    text-transform: uppercase;
    white-space:noWrap ;
    z-index: -1;
    opacity: .09;
}

.self-end {
    align-self: flex-end;
}

.card {
    padding: 1.5rem;
    background: var(--surface-clr);
    border: .1rem solid rgba(123, 123, 123, 0.2);
    border-radius: 1rem;
    flex: 1;
    flex-basis: 300px;
    /*k is se zayada chote na hon cards */
}


.mt-5 {
    margin-top: 5rem;
}

h4 {
    font-size: 1.4rem;
    color: var(--text-primary-clr);
}

.service-icon {
    width: 4rem;
    aspect-ratio: 1;
    font-size: 1.8rem;
    color: var(--accent-clr);
    background: var(--background-clr);
    border: .1rem solid rgba(123, 123, 123, 0.2);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 100vw;
}

.arrow {
    vertical-align: middle;
}

.m-block-1 {
    margin-block: 1rem;
}

.stretch {
    align-items: stretch;
    /*equal size of cards  */
}

.hide-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.design {
    position: relative;
}

.design::before {
    content: '';
    position: absolute;
    background: var(--accent-clr);
    inset: 2rem 0 7rem -0.6rem;
    z-index: -1;
    border-radius: inherit;
}

.border-btm {
    border-bottom: .1rem solid rgba(123, 123, 123, 0.2);

}
