.headline {
    background: var(--accent-clr);
    width: 100%;
}

.moving-text {
    padding-block: .8rem;
    white-space: nowrap;
    overflow: auto;
}

.moving-text::-webkit-scrollbar {
    display: none;
}

.container {
    display: inline-block;
    animation: slide-left 12s linear infinite;
}

.container h5 {
    color: var(--fix-clr);
    font-size: 2.2rem;
    display: inline-block;
    margin-right: 3rem;
}

.star {
    font-size: 1.5rem;
    margin-right: 3rem;

}






/* animation for headline */
@keyframes slide-left {
    100% {
        transform: translateX(-100%)
    }
}


@media screen and (max-width:790px) {
    .container h5 {
        font-size: 1.4rem;
        margin-right: 1rem;
    }

    .container .star {
        font-size: 1.3rem;
        margin-right: 1rem;
    }
}